@charset "UTF-8";

@media(min-width:600px) and (max-width:1099px){

  header .small {width:100%; display:flex; justify-content:space-between; align-items:center;}

  #y a {padding:10px; display:block; text-align: center; font-weight: bolder;}
  
  #y a:hover {background-color:white; display:block; color: #ed3124;}
  
  #y,#z {display:none;}
  
  header a {text-decoration:none; color: white;} 
  
  #x{margin-right: 40px;}
  
  .logo{width: 110px; height: 50px; float: left; margin: 15px 40px;}
  .logo img{width: 100%; height: 100%;}

  .small button{display: none;}
  
}