@charset "UTF-8";

footer{width: 100%; height: 0 auto; background-color:#ed3124;}

@media(min-width:1100px){

#footerbox{width: 1100px; height: 100%; margin: 0 auto; display: flex; flex-flow: row wrap; justify-content: center; align-content: center;}

#h{width: 100%; height: 400px; float: left; }
#h h1{color: white; font-size: 60px; text-align: center; margin-top: 70px;}
#h button{width: 200px; height: 50px; margin: 100px 450px; border: none; color: #ed3124; background: white; font-weight: bolder; text-align: center; font-size: 18px; }
#h button:hover{border: 1px solid white; color: white; background: inherit; cursor: pointer;}

#i{width: 60%; height: 250px; float: left;}
#i h3{color: white; font-size: 30px; margin-top: 40px; margin-bottom: 20px;}
#i input{width: 50%; height: 40px; border-bottom: 2px solid white; background: inherit; border-top: initial;; border-left: initial; border-right: initial;}
#i input::placeholder{color: #ddd; font-weight: bolder; font-size: 17px;}
#i button{width: 130px; height: 40px; float: right; margin-top: 5px; margin-right: 190px; background-color: white; color: #ed3124; font-weight: bolder; border: none;}
#i p{color: white; margin-top: 5px; font-size: 13px;}

#j{width: 40%; height: 250px; float: left;}
#j h3{font-size: 30px; margin-top: 20px; margin-left: 20px; color: white; margin-bottom: 10px;}
#j a{margin-left: 20px; color: white; margin-top: 20px; line-height: 30px;}

#k{width: 100%; height: 250px; float: left; display: flex; align-items: center;}
#k p{color: white;}

}