@charset "UTF-8";

@media(min-width:600px) and (max-width:1099px){

#a{width: 100%; height: auto;}

#b{width: 100%; height: 100%;}

#c{width: 100%; height: 600px;}

#c img{width: 30%; height: 350px; margin-top: 150px; margin-left: 60px; float: left;}

.fbox1{width: 50%; height: 100%; float: right; color: white; margin-right: 30px; margin-top: 50px;}
.fbox1 h1{font-size: 20px; margin-top: 50px;}
.fbox1 b{font-size: 5px; margin-top: 10px;}
.fbox1 p{font-size: 5px; margin-top: 30px; line-height: 25px; }
.fbox1 button{background: white; margin-top: 30px; width: 100px; height: 30px; color: #ed3124; border: none; font-weight: bolder; cursor: pointer;}
.fbox1 button:hover{background-color: #ed3124; color: white; font-weight: bolder;}


#d{width: 100%; height: 1200px; display: flex; flex-flow: wrap; justify-content: space-around; align-items: center;}
.imgbox{width: 50%; height: 400px; position: relative;}
.imgbox img{width: 100%; height: 100%;}
.coverbox1{width: 100%; height: 100%; position: absolute; margin-top: -404px; opacity: 0.6; background-color: black;}
.coverbox1:hover{background-color: inherit; opacity: 1; position: absolute; cursor: pointer;}

#e{width: 100%; height: 100%;}

#f{width: 100%; height: 800px;}
#f h3{color: white; text-align: center; font-weight: bolder; font-size: 40px; margin-top: 100px;}
.imgbox1{width: 90%; height: 22%; margin-top: 45px;}
.imgbox1 img{width: 20%; height: 100%; float: left;}
.fbox2{float: right; width: 70%; height: 0 auto; color: white; margin-top: 60px; }
.fbox2 h4{font-weight: bolder; font-size: 18px;}
.fbox2 p{font-size: 8px;}
.fbox2 button{float: right; width: 120px; height: 40px; margin-top: -35px; margin-right: 20px; background: none; color: white; border: 1px solid #ed3124; font-weight: bolder; cursor: pointer;}
.fbox2 button:hover{background-color: #ed3124; color: white; font-weight: bolder;}

#g{width: 100%; height: 1200px; margin: 0 auto;}

#g h1{text-align: center; font-size: 40px; color: white; margin-top: 100px;}

.imgbox2 {width: 40%; height: 330px; float: left; margin-left: 40px; margin-top: 50px; position: relative; }

.imgbox2 img{width: 100%; height: 100%;}

.coverbox2{width: 100%; height: 100%; margin-top: -335px; position: absolute; opacity: 0; text-align: center;}
.coverbox2 img{width: 25%; height: 20%; margin-top: 130px; opacity: 1; cursor: pointer;}
.coverbox2:hover{background-color: black; opacity: 0.6;}


.imgbox3{width: 40%; height: 200px; float: left; margin-left: 38px; margin-top: 50px; position: relative;}
.imgbox3 img{width: 100%; height: 100%;}

.coverbox3{width: 100%; height: 100%; margin-top: -204px; position: absolute; opacity: 0; text-align: center;}
.coverbox3 img{width: 25%; height: 35%; margin-top: 65px; opacity: 1;cursor: pointer;}
.coverbox3:hover{background-color: black; opacity: 0.6;}



.imgbox4{width: 40%; height: 200px; float: left; margin-left: 38px; margin-top: 50px; position: relative;}
.imgbox4 img{width: 100%; height: 100%;}

.coverbox4{width: 100%; height: 100%; margin-top: -204px; position: absolute; opacity: 0; text-align: center;}
.coverbox4 img{width: 25%; height: 35%; margin-top: 65px; opacity: 1;cursor: pointer;}
.coverbox4:hover{background-color: black; opacity: 0.6;}



.imgbox5 {width: 40%; height: 330px; float: left; margin-left: 40px; margin-top: -78px; position: relative; }

.imgbox5 img{width: 100%; height: 100%;}

.coverbox5{width: 100%; height: 100%; margin-top: -335px; position: absolute; opacity: 0; text-align: center;}
.coverbox5 img{width: 25%; height: 20%; margin-top: 130px; opacity: 1; cursor: pointer;}
.coverbox5:hover{background-color: black; opacity: 0.6;}
}